@use './partials/createMovie';
@use './partials/mainHome';
@use './partials/mainShowAllFilm';
@import '~bootstrap/scss/bootstrap';


header{
background-color: white;
border-bottom: 1px solid black;
height: 120px;

    img{
        height: 75px !important;
    }

    ul{
        display: flex;
        list-style: none;

        li{
            margin-right: 20px;
        }

        a{
            text-decoration: none;
            color: black;
            font-size: 25px;
            cursor: pointer;
            
            &:hover{
                color: blue;
            }
        }

        .nascondi{
            display: none;
        }

    }
}

main{
    background-color: #303030;
    height: calc(100vh - (120px + 80px));
    overflow-y: scroll;
}

header{
    height: 80px;
}