@use './partials/createMovie';
@use './partials/mainHome';
@import '~bootstrap/scss/bootstrap';


header{
background-color: white;

    ul{
        display: flex;
        list-style: none;

        li{
            margin-right: 20px;
        }

        a{
            text-decoration: none;
            color: black;
            font-size: 25px;
            cursor: pointer;
            
            &:hover{
                color: blue;
            }
        }

        .nascondi{
            display: none;
        }

    }
}

.card{
    height: 100%;
    width: 100%;

}

.card-img-top{
    position: relative;
}

#btn-edit{
    position: absolute;
    top: 1%;
    right: 3%;
}
