#show-all-movie{
    .card{
        height: 98%;
        width: 100%;
    
    }
    .card-img-top{
        position: relative;
    }
    
    #btn-edit{
        position: absolute;
        top: 1%;
        right: 3%;
    }
}